<!DOCTYPE html>
<html>

<head>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f22113ff31097001243b5c5&product=sticky-share-buttons' async='async'></script>
  <title>Zecide Blogs</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='../src/styles/blog-post.css' />
  <meta name="keywords" content="zecide, fintech, finance, artificial intelligence">
  <meta name="author" content="<%= data.object.metadata.description %>">
  <meta name="description" content="Zecide">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="<%= data.object.title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://zecide.com/">
  <meta property="og:description" content="<%= data.object.metadata.description %>">
  <meta property="og:image" content="<%= data.object.metadata.cover_image.url%>">
  <meta property="og:site_name" content="Zecide">
  <link rel="canonical" href="https://zecide.com/">
  <link rel="shortcut icon" href="../src/images/logo.svg" type="image/x-icon">
</head>

<body>

  <!-- Preloader -->
  <div class="preloader">
    <svg class="pl-svg" width="200" height="200" viewBox="0 0 100 100">
      <polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="10" fill="none"></polyline>
      <polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="10" fill="none"></polyline>
      <polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="10" fill="none">
      </polyline>
      <polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="10" fill="none">
      </polyline>
    </svg>
  </div>
  <!-- Preloader -->


  <nav class="w3-sidebar w3-bar-block w3-animate-left w3-center" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
    <a href="/blog" class="w3-bar-item w3-button">Blogs</a>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Download the App</a>
  </nav>

  <div class="navbar-m">
    <div class="logo-m">
      <a href="/blog">
        <img class="alogo" src="/src/images/logo.svg" alt="zecide-logo" />
        <span>Zecide Blogs</span>
      </a>
    </div>
    <div class="dropdown">
      <img onclick="w3_open()" src="../src/images/burger.svg" class="fa fa-bars w3-xlarge w3-button w3-theme">
    </div>
  </div>

  <div class="navbar">
    <a href="/blog">
      <div class="logo">
        <img src="/src/images/logo.svg" alt="" />
        <span>Zecide Blogs</span>
      </div>
    </a>
    <div class="nav-links">
      <a href="/"><span>Home</span></a>
      <a href="/blog"><span>Blogs</span></a>
      <a href="/users/login"><button>Download the App</button></a>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
      <h1 class="w3-animate-bottom"> <%= data.object.title %></h1>
      <p class="author">
        by <%= data.object.metadata.author %>
      </p>
      <p>
        <%= data.object.metadata.date %>
      </p>
      <div class="w3-padding-32">
      </div>
    </div>
  </header>

  <!-- <nav class="w3-sidebar w3-bar-block w3-animate-left w3-center" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/#page-2" class="w3-bar-item w3-button">Features</a>
    <a href="/#page-3" class="w3-bar-item w3-button">About</a>
    <a href="/Users" class="w3-bar-item w3-button">Login</a>
  </nav>-->

  <!-- Header -->
  <!-- <header class="w3-container w3-theme w3-padding" id="myHeader">
    <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
    <img class="logo" src="../src/images/logo.svg" alt="">
    <div class="w3-center"> -->
  <!-- <h1 class="w3-xxxlarge w3-animate-bottom"><%= data.object.title %></h1> -->
  <!-- <div class="w3-padding-32">
        <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">LEARN W3.CSS</button>
      </div> -->
  <!-- </div>
  </header> -->



<!-- Social Icons -->
<!-- <ul id="social_side_links">
	<li><a class="fb-share" style="background-color: #3c5a96;" href="https://www.facebook.com/sharer/sharer.php?u=zecide.com/blog/" target="_blank"><img src="https://www.dropbox.com/s/xk5pdj8nks1ymdh/facebook-icon.png?raw=1" alt="" /></a></li>
	<li><a class="t-share" style="background-color: #1dadeb;" href="https://twitter.com" target="_blank"><img src="https://www.dropbox.com/s/c8in3qcf1uqsqrb/twitter-icon.png?raw=1" alt="" /></a></li>
	<li><a class="li-share" style="background-color: #1178b3;" href="https://linkedin.com" target="_blank"><img src="https://www.dropbox.com/s/pb0a0p7p1pwprue/linkedin-icon.png?raw=1" alt="" /></a></li>
</ul> -->





  <div class="blog-content markdown-body">
    <p class="blog-post-text" id="md">
      <%- data.object.metadata.markdown_content %>
    </p>
    
    
  </div>


<div class="author-card">
  <img class="author-photo" src="<%= data.object.metadata.authorphoto.url%>" alt="">
  <div class="author-info">
    <div class="author-name"> <big> <%= data.object.metadata.author %> </big> </div>
    <div class="author-about"><%= data.object.metadata.about_author %></div>
  </div>
  <div class="author-social-links">
    <a href="<%= data.object.metadata.author_linkedin_url%>"><img src="/src/images/linkedin-author.svg" alt=""></a>
    <a href="<%= data.object.metadata.author_twitter_url%>"><img src="/src/images/twitter_author.svg" alt=""></a>
  </div>
</div>


  <div class="disqus">
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://zecideweb.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
  </div>

  <div class="footer" id="footer">
    <div class="footer-left">
      <div class="address-section">
        <img src="../src/images/footer-art.svg" alt="" srcset="" />
        <div class="address">
          <h3 class="office">Office</h3>
          <p>
            LGF, 416, Sector 45 <br />
            Gurgaon, Haryana <br />
            Ph: 9003711038
          </p>
        </div>
      </div>
      <div class="copyright">© 2020 Zecide</div>
    </div>
    <div class="footer-right">
      <img src="../src/images/footer-art.svg" alt="" srcset="" />
      <div class="waitlist-social-links">
        <div class="waitlist-f">
          <p>Drop your email to request early access

          </p>
          <form action="">
            <input class="waitlist-f-mail" type="text" name="" placeholder="Enter your email" id="" />
            <input class="waitlist-f-button" type="button" value="→" />
          </form>
        </div>
        <div class="social-links">
          <p>Follow us on:</p>
          <a
            href="https://in.linkedin.com/organization-guest/company/zecide?challengeId=AQGpOFqGGj1DUwAAAXNrC1Pkp19OLI5XXj9N9Gr3wrdOf3nlcCTPcYnBXKKVQYamgrwqVsdgclAoee3q_hJQlAAOg1wQPjyWvw&submissionId=a0de508d-1d64-2316-1e84-ee5457b8a74a"><img
              src="/src/images/linkedin-footer.svg" alt="" srcset="" /></a>
          <a href="https://www.facebook.com/Zecide-105162521280091"><img src="/src/images/facebook-footer.svg"
              alt="face" srcset="" /></a>
          <a href="https://twitter.com/zecide?lang=en"><img src="/src/images/twitter-footer.svg" alt=""
              srcset="" /></a>
        </div>
      </div>
    </div>
    <div class="copyright-m">© 2020 Zecide</div>
  </div>
  <script id="dsq-count-scr" src="//zecideweb.disqus.com/count.js" async></script>
  <script src="../src/scripts/blog-post.js"></script>
  
</body>

</html>