<!DOCTYPE html>
<html>
  <head>
    <title>Zecide Blogs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel='stylesheet' href='../src/styles/blog-index.css' />
<link rel="shortcut icon" href="../src/images/logo.svg" type="image/x-icon">
  </head>
  <body>

<!-- Preloader -->
<div class="preloader">
    <svg class="pl-svg" width="200" height="200" viewBox="0 0 100 100">
      <polyline
        class="line-cornered stroke-still"
        points="0,0 100,0 100,100"
        stroke-width="10"
        fill="none"
      ></polyline>
      <polyline
        class="line-cornered stroke-still"
        points="0,0 0,100 100,100"
        stroke-width="10"
        fill="none"
      ></polyline>
      <polyline
        class="line-cornered stroke-animation"
        points="0,0 100,0 100,100"
        stroke-width="10"
        fill="none"
      ></polyline>
      <polyline
        class="line-cornered stroke-animation"
        points="0,0 0,100 100,100"
        stroke-width="10"
        fill="none"
      ></polyline>
    </svg>
  </div>
  <!-- Preloader -->




  <nav class="w3-sidebar w3-bar-block w3-animate-left w3-center" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/Posts/0" class="w3-bar-item w3-button">Feed</a>
    <a href="#" class="w3-bar-item w3-button">Download the App</a>
  </nav>
  
  <!-- Header -->
  <!-- <header class="w3-container w3-theme w3-padding" id="myHeader">
    <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
    <img class="logo" src="../src/images/logo.svg" alt="">
    <div class="w3-center">
    <h1 class="w3-xxxlarge w3-animate-bottom">Zecide Blogs</h1> -->
      <!-- <div class="w3-padding-32">
        <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">LEARN W3.CSS</button>
      </div> -->
    <!-- </div>
  </header> -->

  <div class="navbar-m">
    <div class="logo-m">
      <a href="/blog">
      <img class="alogo" src="/src/images/logo.svg" alt="zecide-logo" />
      <span>Zecide Blogs</span>
    </a>
    </div>
    <div class="dropdown">
      <img onclick="w3_open()" src="../src/images/burger.svg" class="fa fa-bars w3-xlarge w3-button w3-theme"> 
    </div>
  </div>
  
    <div class="navbar">
      <a href="/blog">
        <div class="logo">
          <img src="/src/images/logo.svg" alt="" />
          <span>Zecide Blogs</span>
        </div>
      </a>
      <div class="nav-links">
        <a href="/"><span>Home</span></a>
        <a href="/Posts/0"><span>Feed</span></a>
        <a href="/users/login"><button>Download the App</button></a>
      </div>
    </div>


  <div class="w3-row-padding card-container w3-center w3-margin-top">
  <% data.objects.forEach(function (post) { %>
    <a href="/blog/<%= post.slug %>">
  <div class="w3-third">
    
    <div class="w3-card w3-container" style="min-height:460px">
    <img class="post-card-img" src="<%= post.metadata.image.url%>" alt="">
    <h3 class="post-title"><%= post.title %></h3><br>
    <span>by <%= post.metadata.author %> </span><br>
    <span><%= post.metadata.date %> </span>
    <p><%= post.metadata.description %> </p>
    </div>
  </div>
  </a>
  <% })%>
</div>
<script src="../src/scripts/blog-index.js"></script>
  </body>
</html>